
  .download-app-page {
    display: grid;
    align-items: left;
    margin-top: 9rem;
    background-color: #ecffe7;
    justify-content: left;
    height: 90vh;
    position: relative; /* or position: absolute; depending on your layout needs */
    z-index: 2;
    overflow: hidden;
    justify-content: left;
   
  }

  .whole{
    margin-left: 150px;
    margin-right: 150px;
    @media (max-width:1000px) {
      
    }
  }
  
  
  
  .circle-container {
    display: grid;
    align-items: center;
  }
  
  .download-app-page {
    position: relative;
  }
  
  /* Circular background style */
  .circle-background {
    position: absolute;
    top: 10%; /* Adjust this value to position the circle properly */
    left: 65%; /* Adjust this value to position the circle properly */
    width: 80%;
    height: 300%;
    border-radius: 50%;
    background-color: #46d43c; /* Green color */
    z-index: 0;
    overflow: hidden;
    
  }
  
  .app-logo {
    position: absolute;
    right: 20px;
    
    
  }
  .app-logo img{
    max-width: 340px;
    max-height: 530px; 
  }
  
  .green_c{
    display: block;
  }
  @media screen and (max-width: 1000px) {
    .app-logo img {
      opacity: 0; /* Set initial opacity to 0 on small screens */
    }
    .green_c{
      display: none;
  
    }
    .circle-container {
      display: none;
    }
    .whole{
      margin-left: 15px;
      margin-right: 15px;
    }
    .download-app-page {
      justify-content: center;
    }
  }
  .content {
    justify-content: left;
  }
  
  
  .content h2 {
   
    margin-bottom: 200px;
    margin-right: 100px;
    font-size: 55px;
    font-weight: bolder;
  }
  
  .content h2 span{
    color: #27c419;
  }
  
  .sections {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    width: 55%;
  }
  
  .section {
    display: block;
    text-align: left;
    width:75%;
    margin-bottom: 60px;
  }
  
  .sections h3 {
    text-align: center;
    margin-right: 300px;
    }
  
  .sections h3 span{
    color: #61db56;
    font-weight: bold;
  }
  
  .google-play-badge {
    text-align: left;
    margin-top: 20px;
    cursor: pointer;
    z-index: 100;
    right: 5%;
    position: relative;
  }
  
  .google-play-badge img{
  width: 200px;
  z-index: 10001;
  }
  

 


@media screen and (max-width:500px) {
  .content h2{
    font-size: 20px;
  }

  .app-logo img{
    max-height: 211px;
    position: relative;
    top: -10%;
    left: 5%;
  }
    

  .container{
    padding: 0;
  }

  .sections{
    width: 90%;
    
  }

  .main-heading{
    padding-top: 50px;
    width: 60%;
  }
  .section{
    font-size: 10px;
  }

  .circle-background{
    display: none;
  }

  .google-play-badge img{
    width: 140px;
    position: relative;
    right: 7px;
  }
}

@media screen and (min-width:768px) {
    .content h2{
      font-size: 30px;
    }

    .section{
      right: 100%;
      bottom: 25%;
      position: relative;
    }

    .app-logo img{
      max-height: 430px;
      position: relative;
      bottom: 8%;
    }

    .google-play-badge img{
      width: 164px;
    }
}

@media screen and (min-width:769px){
  .content h2{
    font-size: 50px;
    padding-left: 155px;

  }

  .section{
    right: 50%;
    bottom: 25%;
    position: relative;
  }

  .app-logo img{
    max-height: 480px;
    position: relative;
    bottom: 6%;
  }

  .google-play-badge img{
    width: 164px;
  }

}