

@media screen and (max-width:2520px)  {
    .card{
        height: 95%;
        border-radius: 10px;
        width: 20rem;
    }
    
    .card1{
        background: linear-gradient(to bottom, #FFFFFF 50%, #cd8c2e 50%);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }
    
    .card2{
        background: linear-gradient(to bottom, #FFFFFF 50%, #3f7e44 50%);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }
    
    .card3{
        background: linear-gradient(to bottom, #FFFFFF 50%, #3dae4a 50%);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }
    
    .card4{
        background: linear-gradient(to bottom, #FFFFFF 50%, #28426e 50%);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }
    .card:hover{
        background-position: 0 100%;
        box-shadow:5px 10px 20px 1px rgba(0, 0, 0, 0.353) !important;
    }
    
    .card-body{
        padding: 1.5rem  0 !important ;
        font-size: 13px;
    }
    
    h4{
        /* padding-left: 1rem; */
        font-size: 1.5rem;
        margin: 0;
    }
    
    .card-text{
        font-size: .9rem;
        padding: 0.4rem 1.9rem;
    }
    
    .card:hover p{
        color: #FFFFFF !important;
    }
    
    .card:hover h4{
        color: #FFFFFF !important;
    }
    
    .container-fluid.row{
        padding-top:6rem;
    }
    
    .card-img-top{
        width: 78%;
        transform:scale(1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    } 
    
    .card:hover img{
        transform:scale(0.96) !important;
    }
}

@media screen and (max-width:500px) {
    .card{
        height: 95%;
        border-radius: 10px;
        width: 20rem;
    }
    
    .card1{
        background: linear-gradient(to bottom, #FFFFFF 50%, #cd8c2e 50%);
        width: 80%;
        height: 90%;
        position: relative;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }
    
    .card2{
        background: linear-gradient(to bottom, #FFFFFF 50%, #3f7e44 50%);
        position: relative;
        width: 80%;
        height: 90%;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }
    
    .card3{
        background: linear-gradient(to bottom, #FFFFFF 50%, #3dae4a 50%);
        position: relative;
        width: 80%;
        height: 90%;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }
    
    .card4{
        background: linear-gradient(to bottom, #FFFFFF 50%, #28426e 50%);
        position: relative;
        width: 80%;
        height: 90%;
        overflow: hidden;
        background-size: 100% 200%;
        transition: background-position 0.8s;
    }


    
}

