.sync{
  size: 10px;
  width: 35px;
}

  .sdg-row {
    width:  100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
  }


  @media screen and (min-width:768px){
      .sdg-row{
        gap:40px;
       
      }
  }

  @media screen and (max-width:500px) {
    .sdg-row{
      /* background-color: red; */
      margin: 40px;      
      gap:20px;
      padding-left: 40px;
      justify-content: center;
      align-items: center;
      
    }
  }